h1 {

    color: white;
    text-align: center;
    background: red;
    margin: auto;
    padding: 25px;
}



body {

background-color: aqua
    
}
img {
    
height: 200px;
margin-left: 1050px
        
}

br{
    color:darkviolet;
}


